.dropdown-item {
        color: black;
        font-family: 'Raleway';
        font-weight: 300;
        padding-top: .75rem;
        padding-bottom: .75rem;
        padding-right: 1rem;
        display: flex;
}

.dropbtn {
    padding: 10px 15px;
    cursor: pointer;
    color: black;
    font-family: 'Raleway';
    font-weight: 300;
    border: none;
    outline: none;
    display: flex;
  }

  .arrow {
      padding-left: 3px;
      margin-top: -3px;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .follow-me-dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: whitesmoke;
    width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: whitesmoke;}
  
  /* Show the dropdown menu on hover */
  .follow-me-dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  //.shop-dropdown:hover .dropbtn {background-color: #3e8e41;}

.icon {
    height: 16px;
}