.page {
    margin: 0 50px;
    margin-top: 10rem;
    position: relative;

    .page-heading {
        font-family: 'Raleway';
        font-weight: 200;
        font-size: 3rem;
        text-transform: uppercase;
        letter-spacing: .2rem;
        color: black;
        margin-left: 5rem;
    }

    .page-body {
        display: flex;
        width: 100%;
        margin-bottom: 20px;

        .page-description {
            font-family: 'Raleway';
            font-weight: 100;
            font-size: 1.2rem;
            padding-right: 30px;
            line-height: 2.5rem;
        }

        .bio-image {
            height: 30rem;
            border: 1px solid black;
        }
    }
}