.testimonial {
    display: flex;
    height: 75vh;
    margin: 100px 0;


    .testimonial-image {
        width: 40%;
        border: 1px solid black;
    }

    .testimonial-description {
        display: flex;
        flex-direction: column;
        margin: 5rem 5rem;

        .testimonial-name {
            font-family: cursive;
            font-size: 1.25rem;
            margin-bottom: 15px;
            text-align: center;
        }

        .testimonial-quote {
            font-family: cursive;
            font-size: 1.5rem;
            font-weight: bolder;
        }

        .testimonial-summary {
            font-family: cursive;
            font-size: 1.25rem;
        }

        .testimonial-stats {
            font-family: 'Raleway';
            font-size: 1rem;
            margin: 15px 0;
        }
    }
}
